---
import Features2 from '~/components/widgets/Features2.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Hero from '~/components/widgets/Hero.astro';
import Stats from '~/components/widgets/Stats.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'About',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="About"
    image={{
      src: 'https://images.unsplash.com/photo-1559136555-9303baea8ebd?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Caos Image',
    }}
  >
    <Fragment slot="title">
      Antoni <br />
      <span class="text-accent dark:text-white highlight"> Equity Sales Resmi Mirae Asset Sekuritas</span>
    </Fragment>

    <Fragment slot="subtitle">
      Saya bekerja sebagai Investment Specialist di Mirae Asset Sekuritas Indonesia. Saya berpengalaman dalam mengelola klien investor individu dan korporat, investasi saham, reksadana, ETF, dan bond, dan literasi keuangan. Saya sangat senang berbagi pengalaman saya di pasar modal.
    </Fragment>
  </Hero>

  <!-- Stats Widget ****************** -->

  <Stats
    title="Statistik mengenai Saya"
    stats={[
      { title: 'Pengalaman', amount: '5+ tahun' },
      { title: 'Klien Aktif', amount: '248' },
      { title: 'Nilai Aset Dikelola', amount: '500M' },
    ]}
  />

  <!-- Steps2 Widget ****************** -->
  
  <Steps2
    title="Mengapa perlu memilih Investment Specialist?"
    subtitle="Percayakan Pak Antoni sebagai Investment Specialist agar dapat berinvestasi dan mengembangkan aset Anda secara efektif."
    isReversed={false}
    callToAction={{
      text: 'Klaim promo nasabah sekarang juga!',
      href: '/',
    }}
    items={[
      {
        title: 'Berpengalaman dan Terpercaya',
        description: 'Sudah memiliki pengalaman lebih dari 5 (lima) tahun dalam investasi saham',
        icon: 'ic:twotone-verified-user',
      },
      {
        title: 'Testimoni klien yang memuaskan',
        description:
          'Dapatkan pengalaman yang sama dengan pelanggan kami yang lain.',
        icon: 'tabler:message-star',
      },
      {
        title: 'Memberikan respons cepat, akurat, dan profesional',
        description:
          'Saya berkomitmen memberikan respons yang akurat dan profesional.',
        icon: 'tabler:award',
      },
      {
        title: 'Kelas edukasi gratis setiap bulan',
        description:
          'Belajar adalah investasi terbaik yang bisa Anda lakukan sebelum menginvestasikan aset Anda.',
        icon: 'iconoir:learning',
      },
    ]}
  />
</Layout>
