---
import Hero from '~/components/widgets/Hero.astro';
import Stats from '~/components/widgets/Stats.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Layout from '~/layouts/PageLayout.astro';
import Image from '~/components/common/Image.astro';
import Antoni from '~/assets/images/antoni.jpg';
import { linkToWhatsapp, Constants } from "../utils/cta";

const { TEMPLATE_WHATSAPP_MESSAGE: {
  CLAIM_PROMO,
}} = Constants;

const metadata = {
  title: 'About',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="About"
  >
    <Fragment slot="title">
      Antoni <br />
      <span class="text-primary highlight"> Equity Sales Resmi<br/>Mirae Asset Sekuritas</span>
    </Fragment>

    <Fragment slot="subtitle">
      Saya bekerja sebagai Investment Specialist di Mirae Asset Sekuritas Indonesia. Saya berpengalaman dalam mengelola klien investor individu dan korporat, investasi saham, reksadana, ETF, dan bond, dan literasi keuangan. Saya sangat senang berbagi pengalaman saya di pasar modal.
    </Fragment>

    <Fragment slot="image">
      <div class="flex justify-center items-center">
        <div class="relative w-80 h-80 overflow-hidden rounded-full shadow-xl">
          <Image
            class="absolute object-cover object-top top-0"
            loading="eager"
            src={Antoni}
            alt="Image of Antoni"
          />
        </div>
      </div>
    </Fragment>
  </Hero>
  

  <!-- Stats Widget ****************** -->

  <Stats
    title="Statistik mengenai Saya"
    stats={[
      { title: 'Pengalaman', amount: '5+ tahun' },
      { title: 'Klien Aktif', amount: '512' },
      { title: 'Aset di Saham', amount: '90%' },
    ]}
  />

  <!-- Steps2 Widget ****************** -->
  
  <Steps2
    title="Mengapa perlu memilih Investment Specialist?"
    subtitle="Percayakan Pak Antoni sebagai Investment Specialist agar dapat berinvestasi dan mengembangkan aset Anda secara efektif."
    isReversed={false}
    callToAction={{
      text: 'Klaim promo nasabah baru',
      href: linkToWhatsapp(CLAIM_PROMO),
      icon: 'tabler:gift-filled',
    }}
    items={[
      {
        title: 'Berpengalaman dan Terpercaya',
        description: 'Sudah memiliki pengalaman lebih dari 5 (lima) tahun dalam investasi saham',
        icon: 'ic:twotone-verified-user',
      },
      {
        title: 'Testimoni klien yang memuaskan',
        description:
          'Dapatkan pengalaman yang sama dengan pelanggan kami yang lain.',
        icon: 'tabler:message-star',
      },
      {
        title: 'Memberikan respons cepat, akurat, dan profesional',
        description:
          'Saya berkomitmen memberikan respons yang akurat dan profesional.',
        icon: 'tabler:award',
      },
      {
        title: 'Kelas edukasi gratis setiap bulan',
        description:
          'Belajar adalah investasi terbaik yang bisa Anda lakukan sebelum menginvestasikan aset Anda.',
        icon: 'iconoir:learning',
      },
    ]}
  />
</Layout>
