---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Button from '~/components/ui/Button.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import MstockImageGif from '~/assets/images/home/mstock.gif';

import { linkToWhatsapp, Constants, LINKS } from '~/utils/cta';

const { TEMPLATE_WHATSAPP_MESSAGE: {
  CLAIM_PROMO,
}} = Constants;

const gifImage = {
  src: MstockImageGif,
  alt: 'Mstock Image',
}

const metadata = {
  title: 'Mulai Investasi Saham — Percayakan Investasimu, pada Mirae Asset Sekuritas!',
  ignoreTitleTemplate: true,
};


const targetDate = new Date();
targetDate.setHours(24, 0, 0, 0); // Set target date to midnight
---

<script>
  function updateCountdown() {
    const targetDate = new Date();
    targetDate.setHours(24, 0, 0, 0); // Set target date to midnight
    const now = new Date();
    const timeDiff = targetDate - now;

    if (timeDiff <= 0) {
      document.getElementById('hours').textContent = '0';
      document.getElementById('minutes').textContent = '0';
      document.getElementById('seconds').textContent = '0';
      return;
    }

    const seconds = Math.floor((timeDiff / 1000) % 60);
    const minutes = Math.floor((timeDiff / 1000 / 60) % 60);
    const hours = Math.floor((timeDiff / (1000 * 60 * 60)) % 24);

    document.getElementById('hours').textContent = String(hours);
    document.getElementById('minutes').textContent = String(minutes);
    document.getElementById('seconds').textContent = String(seconds);
  }

  setInterval(updateCountdown, 1000);
  updateCountdown(); // Initial call
</script>

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    image={{ src: '~/assets/images/home/main.png', alt: 'Mirae Asset Sekuritas Image' }}
  >
    <Fragment slot="title">
      Percayakan Investasimu,<br/>pada<br class="md:hidden" />
      <span class="text-primary highlight"> Mirae Asset Sekuritas</span>!
    </Fragment>

    <Fragment slot="subtitle">
      <span class="inline">
        <span class="font-semibold dark:text-white">Buka akun sekarang</span>! <br class="sm:hidden" />Dapatkan <span class="font-semibold text-accent dark:text-white">cashback</span>, Grup VIP Nasabah dan hadiah spesial.</span
      >
    </Fragment>
    
    <Fragment slot="actions">
      <div class="max-w-xs sm:max-w-xl m-auto flex flex-nowrap flex-col md:flex-row sm:justify-center gap-4">
          <Button 
            class="w-full sm:mb-0"
            text="Claim Promo Sekarang"
            variant="primary"
            href={linkToWhatsapp(CLAIM_PROMO)}
            icon="tabler:gift-filled"
            target="_blank"
          />
          <Button
            variant="secondary"
            target="_blank"
          >
            <Fragment slot="text">
              <span id="hours">0</span>:<span id="minutes">0</span>:<span id="seconds">0</span>
            </Fragment>
          </Button>
        </div>
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <Features
    id="why"
    tagline="TEMUKAN JAWABAN UNTUK INVESTASI ANDA"
    title="Mengapa harus bergabung dengan Mirae Asset?"
    subtitle="Anda Akan Menemukan Banyak Alasan Untuk Bergabung Dengan Mirae Asset"
    columns={2}
    items={[
      {
        title: 'Pemimpin dan Terdepan',
        description:
          'Frekuensi transaksi tertinggi di Indonesia dari kategori rumah pialang.',
        icon: 'tabler:number-1-small',
      },
      {
        title: 'Modal Kerja Bersih Disesuaikan (MKBD) Terbesar',
        description:
          'Dengan nilai kurang lebih sebesar 1,4 Trilun',
        icon: 'tabler:number-2-small',
      },
      {
        title: 'Kemudahan Akses',
        description:
          'Memiliki cabang terbanyak di Indonesia',
        icon: 'tabler:number-3-small',
      },
      {
        title: 'Terpercaya dan dapat diandalkan',
        description:
          'Jumlah akun investor terbanyak di Indonesia',
        icon: 'tabler:number-4-small',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    tagline="Akses mudah dalam genggaman"
    title="#SaatnyaJadiMapan dengan M-STOCK dari Mirae Asset"
    items={[
      {
        title: 'Cocok untuk semua kalangan, dari newbie hingga pro',
        description:
          'Aplikasi dirancang untuk mengakomodasi berbagai tingkat pemahaman dan pengalaman investasi. Baik Anda seorang pemula yang baru ingin memulai, atau investor berpengalaman yang mencari strategi lanjutan, semua akan menemukan fitur dan informasi yang relevan.',
      },
      {
        title: 'Akses informasi lengkap & eksklusif dari expert, baik dalam & luar negeri',
        description:
          'Tim analis berpengalaman menyediakan analisis pasar yang mendalam dan up-to-date, sehingga pengguna dapat membuat keputusan investasi yang lebih informatif.',
      },
      {
        title: 'Kecepatan transaksi yang konsisten di seluruh Indonesia',
        description:
          'Nikmati pengalaman berinvestasi yang lancar, cepat dan aman di mana pun Anda berada.',
      },
    ]}
    gifImage={MstockImageGif}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Jutaan Peluang Investasi dalam Satu Aplikasi</h3>
      Manfaatkan jutaan peluang investasi untuk mencapai tujuan finansial Anda.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->
  
  <Content
    id="download"
    isAfterContent
    items={[
      {
        title: 'Trailing Stop',
        description: `Minimalkan risiko & maksimalkan cuan secara otomatis. Cuan aman tanpa drama!`,
        icon: 'flowbite:chart-mixed-dollar-outline',
        classes: {
          icon: 'flex h-16 w-16 items-center justify-center rounded-xl bg-primary text-gray-50 p-1',
        },
      },
      {
        title: 'Holistic Market Insight',
        description:
          'Dapatkan berita/info seputar pasar dari praktisi hingga yang berlisensi, dari dalam hingga luar negri.',
        icon: 'fluent-mdl2:insights',
        classes: {
          icon: 'flex h-16 w-16 items-center justify-center rounded-xl bg-primary text-gray-50 p-1',
        },
      },
      {
        title: 'One-Click Portofolio',
        description:
          "Pantau seluruh portofolio kamu di Ekosistem Miare Asset hanya dengan satu klik.",
        icon: 'tabler:hand-click',
        classes: {
          icon: 'flex h-16 w-16 items-center justify-center rounded-xl bg-primary text-gray-50 p-1',
        },
      },
      {
        title: 'Smart Notification',
        description:
          'No refresh-refresh club! Status transaksi terupdate secara real-time di home page.',
        icon: 'tabler:notification',
        classes: {
          icon: 'flex h-16 w-16 items-center justify-center rounded-xl bg-primary text-gray-50 p-1',
        },
      },
    ]}
    image={{
      src: 'https://res.cloudinary.com/dargzftrg/image/upload/v1723282958/mirae-asset/wzqcpdqhnh8yvrb5wdpy.png',
      alt: 'Blueprint Image',
    }}
    imageStyle="mx-auto w-full rounded-lg"
  >
    <Fragment slot="content">Jadilah Semakin Mantap Pilih M-STOCK</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>
  
  <div class="flex justify-center items-center pb-16 bg-blue-50 dark:bg-transparent">
    <Button variant="primary" text="Download Sekarang" icon="tabler:download" href={LINKS.DOWNLOAD} />
  </div>

  <!--&lt;!&ndash; Features2 Widget ************** &ndash;&gt;-->
  
  <!--<Features2-->
  <!--  title="Most used widgets"-->
  <!--  subtitle="Provides frequently used components for building websites using Tailwind CSS"-->
  <!--  tagline="Components"-->
  <!--  items={[-->
  <!--    {-->
  <!--      title: 'Headers',-->
  <!--      description: "Ever tried driving without GPS? Boom! That's why websites need headers for direction.",-->
  <!--      icon: 'flat-color-icons:template',-->
  <!--    },-->
  <!--    {-->
  <!--      title: 'Heros',-->
  <!--      description:-->
  <!--        "Picture a superhero landing – epic, right? That's the job of a Hero section, making grand entrances!",-->
  <!--      icon: 'flat-color-icons:gallery',-->
  <!--    },-->
  <!--    {-->
  <!--      title: 'Features',-->
  <!--      description:-->
  <!--        'Where websites strut their stuff and show off superpowers. No holding back on the bragging rights here!',-->
  <!--      icon: 'flat-color-icons:approval',-->
  <!--    },-->
  <!--    {-->
  <!--      title: 'Content',-->
  <!--      description:-->
  <!--        "Dive into the meat and potatoes of a site; without it, you'd just be window shopping. Content is king.",-->
  <!--      icon: 'flat-color-icons:document',-->
  <!--    },-->
  <!--    {-->
  <!--      title: 'Call-to-Action',-->
  <!--      description:-->
  <!--        'That enthusiastic friend who\'s always urging, "Do it! Do it!"? Yeah, that\'s this button nudging you towards adventure.',-->
  <!--      icon: 'flat-color-icons:advertising',-->
  <!--    },-->
  <!--    {-->
  <!--      title: 'Pricing',-->
  <!--      description: 'Behold the dessert menu of the website world. Tempting choices await, can you resist?',-->
  <!--      icon: 'flat-color-icons:currency-exchange',-->
  <!--    },-->
  <!--    {-->
  <!--      title: 'Testimonial',-->
  <!--      description: 'Step into the gossip corner! Here, other visitors spill the beans and share the juicy details.',-->
  <!--      icon: 'flat-color-icons:voice-presentation',-->
  <!--    },-->
  <!--    {-->
  <!--      title: 'Contact',-->
  <!--      description:-->
  <!--        'Like a digital mailbox, but faster! Drop a line, ask a question, or send a virtual high-five. Ding! Message in.',-->
  <!--      icon: 'flat-color-icons:business-contact',-->
  <!--    },-->
  <!--    {-->
  <!--      title: 'Footers',-->
  <!--      description: "The footer's like the credits of a movie but sprinkled with easter eggs. Time to hunt!",-->
  <!--      icon: 'flat-color-icons:database',-->
  <!--    },-->
  <!--  ]}-->
  <!--&gt;-->
  <!--  <Fragment slot="bg">-->
  <!--    <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>-->
  <!--  </Fragment>-->
  <!--</Features2>-->

  <!-- HighlightedPosts Widget ******* -->

  <div class="hidden md:block">
    <BlogLatestPosts
      id="latestpost"
      title="Ingin tahu lebih banyak? Baca artikel terbaru di Blog kami!"
      information={`Blog ini bertujuan untuk membagikan pengetahuan dan wawasan tentang dunia investasi. Setiap artikel akan menjadi langkah penting bagi Anda untuk memahami berbagai instrumen investasi, strategi, dan tren pasar terkini. Kami akan membahas topik mulai dari investasi dasar hingga strategi lanjutan, dengan tujuan membantu Anda menjadi investor yang cerdas dan mandiri.`}
    />
  </div>

  <!-- FAQs Widget ******************* -->

  <FAQs
    id="faqs"
    title="Frequently Asked Questions"
    subtitle="Berikut beberapa pertanyaan yang sering ditanyakan seputar Mirae Asset Sekuritas."
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Siapakah Mirae Asset Sekuritas Indonesia?',
        description:
          "PT Mirae Asset Sekuritas Indonesia adalah perusahaan sekuritas yang menyediakan berbagai layanan investasi, termasuk perantara perdagangan efek, underwriting, reksadana, obligasi, ETF, dan priority wealth management. Didukung oleh Mirae Asset, perusahaan investasi ternama asal Korea Selatan, kami memiliki 27 kantor edukasi yang tersebar di berbagai kota besar di Indonesia.",
      },
      {
        title: 'Berapa besar MKBD dari Mirae Asset Sekuritas?',
        description:
          'Memilih sekuritas dengan Modal Kerja Bersih Disesuaikan (MKBD) yang besar sangat penting bagi investor untuk memastikan investasi mereka aman dan mengurangi risiko kebangkrutan sekuritas. MKBD Mirae Asset Sekuritas per juli 2024 mencapai Rp 1,4 Triliun, menjadikannya yang terbesar di Indonesia.',
      },
      {
        title: 'Apakah Mirae Asset Sekuritas legal dan diawasi otoritas?',
        description:
          "Mirae Asset Sekuritas secara aktif terdaftar sebagai anggota bursa dan diawasi OJK.",
      },
      {
        title: "Apa saja produk dan layanan Mirae Asset Sekuritas?",
        description:
          "Transaksi saham, obligasi untuk ritel dan korporasi, reksa dana, Transaksi saham secara margin (pinjam meminjam) dan Corporate Finance (merger/akuisisi, pencatatan saham dan obligasi di Bursa Efek Indonesia).",
      },
      {
        title: 'Jenis akun apa saja yang dimiliki Mirae Asset Sekuritas?',
        description:
          "Ada 4 jenis account yaitu Akun Regular, Akun Margin, Akun Day Trade, dan Akun Syariah.",
      },
      {
        title: 'Berapa Fee transaksi di Mirae Asset Sekuritas?',
        description:
          "Fee beli 0,15% jual 0,25% all in, no biaya admin no biaya bulanan no minimum transaksi.",
      },
      {
        title: 'Bagaimana nasabah bertransaksi saham?',
        description:
          "Dengan HOTS dekstop dan M-STOCK Mobile nasabah dapat bertransaksi saham kapanpun dan dimanapun selama terhubung dengan internet. HOTS dekstop dan M-STOCK Mobile dilengkapi dengan fitur yang memudahkan Anda bertransaksi saham yaitu Automatic Order, Trailing Stop, Multi Chart, dan lainnya.",
      },
      {
        title: 'Apa keuntungan buka akun Mirae Asset Sekuritas lewat Pak Antoni?',
        description: 'Free join group VIP Nasabah Mirae Asset Sekuritas, Updates informasi investasi berkualitas tinggi, Konsultasi portfolio, rekomendasi saham Investing dan trading, dibimbing dari nol sampai pro.',
      },
    ]}
  />

  <!-- Stats Widget ****************** -->

  <Stats
    stats={[
      { title: 'Saham', amount: '800+' },
      { title: 'Transaction Value', amount: '~1,4T' },
      { title: 'Market Share', amount: '8,15%' },
      { title: 'Investment Specialist', amount: '500+' },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Buka Akun Sekarang',
        href: linkToWhatsapp('CLAIM_PROMO'),
        target: '_blank',
        icon: 'tabler:click',
      },
    ]}
    classes={{
      card: 'border border-gray-200 dark:border-slate-700',
    }}
  >
    <Fragment slot="title">
      <span class="sm:whitespace-nowrap">Mulai Investasi Saham</span>
    </Fragment>

    <Fragment slot="subtitle">
      Masa depan yang cerah dimulai dari langkah kecil. Investasikan uang Anda sekarang untuk masa depan yang lebih sejahtera. <br class="hidden md:inline" />Tunggu apa lagi?
    </Fragment>
  </CallToAction>


  <!-- Testimonials Widget *********** -->

  <Testimonials
    title="Testimoni klien"
    subtitle="Temukan apa yang klien katakan tentang pengalaman mereka menjadi nasabah Pak Antoni."
    testimonials={[
      {
        testimonial: `She took our vague concept and turned it into a visual masterpiece that perfectly aligned with our goals. Her attention to detail and ability to translate ideas into compelling visuals exceeded our expectations.`,
        name: 'Mark Thompson',
        job: 'Creative director',
        image: {
          src: 'https://images.unsplash.com/photo-1500648767791-00dcc994a43e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
          alt: 'Mark Thompson Image',
        },
      },
      {
        testimonial: `She transformed our brand identity with her creative finesse, capturing our essence in every element. Her dedication and talent truly shine through her work.`,
        name: 'Emily Martinez',
        job: 'CEO',
        image: {
          src: 'https://images.unsplash.com/photo-1554151228-14d9def656e4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=772&q=80',
          alt: 'Emily Martinez Image',
        },
      },
      {
        testimonial: `She has an uncanny ability to communicate emotions and stories. She crafted a logo for our NGO that not only represents our cause but also evokes empathy. Her professionalism and commitment make her a designer of exceptional caliber.`,
        name: 'Laura Simmons',
        job: 'Founder of an NGO',
        image: {
          src: 'https://images.unsplash.com/photo-1554727242-741c14fa561c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
          alt: 'Laura Simmons Image',
        },
      },
      {
        testimonial: `We entrusted Sarah with revamping our website's user interface, and the results were astounding. Her intuitive design sense enhanced user experience, leading to a significant increase in engagement. She's a designer who truly understands the synergy of aesthetics and functionality.`,
        name: 'Alex Foster',
        job: 'Director of web services',
        image: {
          src: 'https://images.unsplash.com/photo-1599566150163-29194dcaad36?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
          alt: 'Alex Foster Image',
        },
      },
      {
        testimonial: `She took our vision and elevated it beyond imagination. Her ability to capture brand essence and translate it into design is nothing short of remarkable. Working with her has been an inspiring journey.`,
        name: 'Jessica Collins',
        job: 'Product Manager',
        image: {
          src: 'https://images.unsplash.com/photo-1548142813-c348350df52b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=778&q=80',
          alt: 'Jessica Collins Image',
        },
      },
      {
        testimonial: `Her ability to transform concepts into captivating visuals is nothing short of extraordinary. She took our event poster idea and turned it into a visual masterpiece that perfectly captured the essence of our festival. Sarah's dedication, creativity, and knack for delivering beyond expectations make her an invaluable asset to any project.`,
        name: 'Michael Carter',
        job: 'Event Coordinator',
        image: {
          src: 'https://images.unsplash.com/photo-1566492031773-4f4e44671857?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
          alt: 'Michael Carter Image',
        },
      },
    ]}
  />
</Layout>
